asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
deepl==1.18.0
Django==5.1
hangul-romanize==0.1.0
idna==3.7
joblib==1.4.2
JPype1==1.5.0
konlpy==0.6.0
lxml==5.3.0
mecab-python3==1.0.9
numpy==2.1.0
packaging==24.1
psutil==6.0.0
psycopg==3.2.1
psycopg2==2.9.9
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.1
setuptools==72.2.0
soynlp==0.0.493
sqlparse==0.5.1
threadpoolctl==3.5.0
typing_extensions==4.12.2
urllib3==2.2.2
wheel==0.44.0
